  ul {
    list-style-type: circle;
  }

  li {
    margin-top: 4%;
  }
  
  .listContainer {
    width: 280px;
    height: 1080px;
    background-color: var(--sideBar);
    overflow: auto;
    resize: horizontal;
  }
  
  .listContainer h2 {
    font-size: 18px;
    font-weight: 500;
    margin: 10% 0% 0% 5%;
  }
  
  .listContainer h3 {
    font-size: 15px;
    margin: 2% 0% 0% 5%;
    color: #808080;
  }
  
  .postList {
    color: #808080;
    margin-top: 10%;
    margin-bottom: 10%;
    cursor: pointer;
  }
  
  .addNew {
    background-color: #f7f6f3;
    border: none;
    text-align: left;
    padding-left: 20px;
    font-size: 16.5px;
    width: 100%;
    height: 25px;
    background-color: var(--sideBar);
    color: #808080;
    cursor: pointer;
  }
  
  .addBtn {
    background-color: #f7f6f3;
    border: none;
    background-color: var(--sideBar);
    color: var(--text-color);
    cursor: pointer;
  }
  
  .delBtn {
    background-color: #f7f6f3;
    border: none;
    background-color: var(--sideBar);
    color: var(--text-color);
    cursor: pointer;
  }
  
  .far {
    width: 100%;
    height: 100vh;
    padding-right: 100%;
  }
  